/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popupArticle{
    margin-left: 10%;
    margin-top:25px;
    margin-right:10%;
}

/* Modal Content */
.modal-content {
    position: absolute !important;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80% !important;
    margin-left: 10%;
    margin-right: 10%;
    top: 5%;
    max-height: 90%;
    overflow-y: scroll;
}

/* The Close Button */
.close {
    position: fixed;
    right: 13.5%;
    color: #aaaaaa !important;
    font-size: 28px !important;
    font-weight: bold !important;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 650px) {
    .loadMore {
        left: 25% !important;
    }
}