/* mdl - popup */
.dark-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
    z-index: 3;
}

.fab {
    z-index: 5;
    cursor: pointer;
    border-radius: 50%;
    position: fixed;
    right: 5%;
    top: 85%;
    color: #fff;
    background: #3E5D89;
    height: 56px;
    width: 56px;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.8);
    -webkit-transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
    transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
}

.fab.active {
    cursor: default;
    background: #FFF;
    border-radius: .5em;
    width: calc(80%) /*900px*/;
    height: calc(80%)/*700px*/;
    box-shadow: 0 25px 35px 0 rgba(0, 0, 0, 0.35);
    top: 10%;
    right: calc(10%);
    overflow-y: scroll;
}

@media only screen and (max-width: 650px) {
    .fab.active {
        width: 90%;
        right: 5%;
    }
}

.fabChange {
    z-index: 5;
    cursor: pointer;
    border-radius: 50%;
    position: fixed;
    left: 10%;
    top: 15%;
    color: #fff;
    background: #3E5D89;
    height: 56px;
    width: 56px;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.8);
    -webkit-transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
    transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
    display: none;
}

.fabChange.active {
    cursor: default;
    background: #FFF;
    border-radius: .5em;
    width: calc(80%) /*900px*/;
    height: calc(80%)/*700px*/;
    box-shadow: 0 25px 35px 0 rgba(0, 0, 0, 0.35);
    top: 10%;
    right: calc(10%);
    overflow-y: scroll;
    display: block;
}

@media only screen and (max-width: 650px) {
    .fabChange.active {
        width: 90%;
        left: 5%;
    }
}

.fab-icon {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-12px, -12px);
    -ms-transform: translate(-12px, -12px);
    transform: translate(-12px, -12px);
    line-height: 24px;
    width: 24px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.active .fab-icon {
    display: none;
}

.active .protect {
    background: none;
}

.cntt-wrapper {
    display: none;
}

.active .cntt-wrapper {
    display: block;
}

#fab-hdr {
    position: absolute;
    width: 100%;
    background: #3E5D89;
}

#fab-hdr h3 {
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
}

#fab-hdrChange {
    position: absolute;
    width: 100%;
    background: #3E5D89;
}

#fab-hdrChange h3 {
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
}


.cntt {
    padding-top: 170px;
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 30px;
    color: #757575;
    background-color: #f1f1f1;
}

.cnttChange {
    padding-top: 100px;
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 30px;
    color: #757575;
    background-color: #f1f1f1;
}

.btn-wrapper {
    position: relative; !important
    right: 0;
    bottom: 0;
    height: 70px;
    /*margin-bottom: 8px;*/
    /*padding: 6px 16px;*/
}

.btn-wrapper button:hover{
    background-color: #87afc3;
    color: black;
}

/* just presenation */
.center{margin: 0 auto}
.m-t-100{margin-top:100px}
.box {
    height: 300px;
    padding: 100px;
}
/*----------------------------------*/
/*-- Sticky Header --*/

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    top: 10%;
    position: fixed;
    width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 102px;
}

.input-group{
    padding-left:35px;
    width: 100%;
}

#EmailInputactive{
    background-color: green;
    color: white;
    padding: 16px;
    font-family: "PT Sans", sans-serif;

}

#EmailInputinactive{
    background-color: red;
    color: white;
    padding: 16px;
    font-family: "PT Sans", sans-serif;

}

#Schlagwörter{
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
}

.list-group-item-schlagwort {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    border: 1px solid rgba(0,0,0,.125);
    color: black;
}

/*-----------------------------------------------------*/
/* Pop Up Artikel*/
.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 6;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 80%;
    height: 80%;
    position: relative;
    transition: all 1s ease-in-out;
}

@media only screen and (max-width: 650px) {
    .popup{
        width: 90%;
    }

    .popup h2 {
        font-size: 23px;
        max-height: 110px;
    }

    .popup .content {
        height: 75%;
    }
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
    margin-right: 50px;
    max-height: 200px;
    overflow-y: auto;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    height: 85%;
    padding-top: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

.v-center {
    min-height:200px;
    display: flex;
    justify-content:center;
    flex-flow: column wrap;
}

#Schlagwörter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    width:70%;
}

.deleteall {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label button:hover{
    background-color: #87afc3;
    color: black;
}

/* CUSTOM CHECKBOXEN */

/* Customize the label (the checkboxContainer) */
.checkboxContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    top: 10px;
    left: 0;
    height: 25px;
    width: 25px;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 10px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: grey;
}

/* On mouse-over, add a grey background color */
.checkboxContainer:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxContainer input:checked ~ .checkmark {
    background-color: #3E5D89;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkboxContainer input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkboxContainer .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
