/* Navigation Bar Responsive Style for Main-Admin (more Navigation Buttons) */

@media only screen and (min-width: 1250px) {
    .main-nav {
        width: auto;
        height: auto;
        background: none;
        cursor: auto;
        margin-top: 0;
    }

    .main-nav ul {
        position: static;
        width: auto;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        line-height: 80px;
    }

    .main-nav ul.is-visible {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    .main-nav li {
        display: inline-block;
        margin-left: 2em;
    }

    .main-nav li:nth-last-child(2) {
        margin-left: 3em;
    }

    .main-nav a {
        display: inline-block;
        height: auto;
        line-height: normal;
        background: transparent;
    }

    .main-nav a.cd-signin, .main-nav a.cd-signup, .main-nav a.cd-logout, .main-nav a.cd-navbutton {
        padding: .6em 1em;
        border: 1px solid rgba(255, 255, 255, 0.6);
        border-radius: 5em;
        cursor: pointer;
    }

    .main-nav a.cd-signup {
        background: #2f889a;
        border: none;
    }
    /*
        .main-nav a.cd-username{
            color: white;
            padding: .6em 1em;
        }
    */
    .main-nav img.cd-settings{
        border: none;
        border-radius: 50em;
        padding: .6em 1em;
        cursor: pointer;
    }

    .main-nav img.cd-settings:hover{
        opacity: 0.5;
    }

    .main-nav a.cd-navbutton {
        background: transparent;
        border: 1px solid rgba(255, 255, 255, 0.6);
        color: white;

    }

    .main-nav a.cd-navbutton:hover {
        background: #87afc3;
        border: 1px solid #87afc3;
        text-decoration:none;
        color: black;
    }
    .main-nav {
        width: auto;
        height: auto;
        background: none;
        cursor: auto;
    }
    .main-nav ul {
        position: static;
        width: auto;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        line-height: 80px;
    }
    .main-nav ul.is-visible {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    .main-nav li {
        display: inline-block;
        margin-left: 0.3em;
    }
    .main-nav li:nth-last-child(3) {
        margin-left: 3em;
    }
    .main-nav a {
        display: inline-block;
        height: auto;
        line-height: normal;
        background: transparent;
    }
    .main-nav a.cd-signin, .main-nav a.cd-signup, .main-nav a.cd-logout, .main-nav a.cd-navbutton{
        padding: .6em 1em;
        border: 1px solid rgba(255, 255, 255, 0.6);
        border-radius: 5em;
        cursor: pointer;
        color: #FFFFFF;
    }
    .main-nav a.cd-signup {
        background: #2f889a;
        border: none;
    }

    .main-nav a.cd-username{
        color: white; !important;
        padding: .6em 1em;
    }

    .main-nav img.cd-settings{
        border: none;
        border-radius: 50em;
        padding: .6em 1em;
        cursor: pointer;
    }

    .main-nav img.cd-settings:hover{
        opacity: 0.5;
    }

    .main-nav a.cd-navbutton {
        background: #3E5D89;
        border: 1px solid #3E5D89 /*rgba(255, 255, 255, 0.6)*/;
        color: white;
    }

    .main-nav a.cd-navbutton:hover {
        background: #87afc3;
        border: 1px solid #87afc3;
        color: black;
    }

    .main-nav a.cd-logout {
        background: #a60000;
        color: white;
        border: none;
    }

    .main-nav a.cd-logout:hover {
        background: #F46E72;
        color: black;
        text-decoration:none;
    }

    a.cd-logo:hover{
        opacity: 0.7;
    }
}
