@media only screen and (min-width: 650px) {

    /* The sidebar menu */
    .sidenav {
        height: 100%; /* Full-height: remove this if you want "auto" height */
        width: 250px; /* Set the width of the sidebar */
        position: fixed; /* Fixed Sidebar (stay in place on scroll) */
        z-index: 0;
        top: 75px; /* Stay at the top */
        left: 0;
        background-color: #343642;
        /*overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 20px;
    }

    /* The navigation menu links */
    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
        color: #f1f1f1;
    }

    .sidenav td.first {
        width: 70px;
        padding-left: 20px;
    }

    .sidenav td.first.bottomline {
        padding-left: 0;
    }

    .sidenav td.second {
        width: 120px;
        /*background-color: #5a5d72;*/
    }

    .sidenav td.third {
        width: 50px;
    }

    /* Style page content */
    .main {
        margin-left: 280px; /* Same as the width of the sidebar */
        margin-right: 30px;
        margin-top: 20px;
        padding: 0px 10px;
    }
}

@media only screen and (max-width: 650px) {
    /* The sidebar menu */
    .sidenav {
        width: 100%; /* Set the width of the sidebar */
        z-index: 0;
        top: 75px; /* Stay at the top */
        left: 0;
        background-color: #343642;
        /*overflow-x: hidden; /* Disable horizontal scroll */
    }

    /* The navigation menu links */
    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
        color: #f1f1f1;
    }

    .sidenav td.first {
        width: 10%;
        padding-left: 20px;
    }

    .sidenav td.first.bottomline {
        padding-left: 0;
    }

    .sidenav td.second {
        width: 73%;
        /*background-color: #5a5d72;*/
    }

    .sidenav td.third {
        width: 17%;
    }

    /* Style page content */
    .main {
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 20px;
        padding: 0px 10px;
    }

    @media only screen and (max-width: 650px) {
        .main {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}