/* https://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    /*font-size: 100%;*/
    /*font: inherit;*/
    vertical-align: baseline;
}

.dropbtn {
    background-color: #2f889a;
    color: white;
    padding: 16px;
    font-size: 16px;
    width: 100%;
    border: none;
    text-align: center;
    cursor: pointer;
    font-family: "PT Sans", sans-serif;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    text-align: center;
    position: absolute;

    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    width: 100%;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
    width: 100%;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    text-align: center;
    width: 100%;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #2f889a;
    width: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* --------------------------------

Primary style

-------------------------------- */
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: "PT Sans", sans-serif;
    color: #505260;
    background-color: #454751 !important;
    padding-top: 90px;
}

a {
    color: #2f889a;
    text-decoration: none;
}

img {
    max-width: 100%;
}

input, textarea {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-size: 1rem;
}

input::-ms-clear, textarea::-ms-clear {
    display: none;
}



/* -------------------------------- 

xcody-info 

-------------------------------- */
#cody-info {
    position: relative;
    background: #FFF;
    height: 44px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

#cody-info .cody-info-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -15px;
    margin-top: -13px;
}

#cody-info .cody-info-logo svg {
    display: block;
    -webkit-transition: opacity, 0.2s;
    -moz-transition: opacity, 0.2s;
    transition: opacity, 0.2s;
}

#cody-info .cody-info-logo svg:hover {
    opacity: .9;
}

#cody-info .cody-info-logo .cody-info-logo-svg {
    fill: #343642;
}

#cody-info li {
    position: absolute;
    top: 0;
}

#cody-info li:first-child {
    left: 0;
}

#cody-info li:last-child {
    right: 0;
}

#cody-info li a {
    display: block;
    width: 44px;
    height: 44px;
    position: relative;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s;
}

#cody-info li a:hover {
    background-color: #29889b;
}

#cody-info li a:hover .cody-info-buttons-svg {
    fill: #FFF;
}

#cody-info li svg {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -16px;
}

#cody-info li .cody-info-buttons-svg {
    fill: #3E5D89;
}

#cody-info.cody-info-bottom {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
}

#cody-info::after {
    content: '';
    display: table;
    clear: both;
}

@media only screen and (min-width: 600px) {
    #cody-info {
        height: 60px;
    }

    #cody-info li a {
        height: 60px;
        width: 60px;
    }
}

/* -------------------------------- 

Main components 

-------------------------------- */
header[role=banner] {
    position: fixed;
    height: 80px;
    background: #343642;
    top: 0px;
    width: 100%;
    z-index: 3;
}

header[role=banner] #cd-logo {
    float: left;
    margin: 20px 0 0 5%;
    /* reduce logo size on mobile and make sure it is left aligned with the transform-origin property */
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    -o-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}

header[role=banner] #cd-logo img {
    display: block;
}

header[role=banner]::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
}

/*@media only screen and (min-width: 600px) {
    header[role=banner] {
        height: 200px;
    }

    header[role=banner] #cd-logo {

        margin: 20px 0 0 5%;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}*/

.main-nav {
    float: right;
    overflow: hidden;
    margin-right: 5%;
    width: 50px;
    height: 50px;
    background-image: url("../../resources/media/menu.png");
    /*background-position: center center;*/
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    margin-top: 15px;
}

.main-nav ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}

.main-nav ul.is-visible {
    -webkit-transform: translateY(80px);
    -moz-transform: translateY(80px);
    -ms-transform: translateY(80px);
    -o-transform: translateY(80px);
    transform: translateY(80px);
}

.main-nav a {
    display: block;
    /*height: 50px;*/
    line-height: 50px;
    padding-left: 5%;
    background: #292a34;
    border-top: 1px solid #3b3d4b;
    color: #FFF;!important;
    text-decoration: none;
}

.main-nav a:hover {
    background: #585a70;
    text-decoration: none !important;
    color: #FFF !important;
}

.main-nav a.cd-logout {
    background: #341f23;
}

.main-nav a.cd-logout:hover {
    background: #9e3435;
}

.pageHeaderLine {
    margin-top: 80px;
    width: 100%;
    height: 2px;
    background-color: #2ECCFA;
    z-index: 1;
}

.pageHeaderLineSidenav {
    margin-top: -15px;
    width: 100%;
    height: 2px;
    background-color: #2ECCFA;
    z-index: 1;
}

.sidenavProfileSeparator {
    width: 100%;
    height: 1px;
    background-color: whitesmoke;
}

/* -------------------------------- 

xsigin/signup popup 

-------------------------------- */
.cd-user-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(52, 54, 66, 0.9);
    z-index: 3;
    overflow-y: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s, visibility 0.3s;
    -moz-transition: opacity 0.3s, visibility 0.3s;
    transition: opacity 0.3s, visibility 0.3s;
}

.cd-user-modal.is-visible {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.3s, visibility 0s;
    -moz-transition: opacity 0.3s, visibility 0s;
    transition: opacity 0.3s, visibility 0s;
}

.cd-user-modal.is-visible .cd-user-modal-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.cd-user-modal-container {
    position: relative;
    width: 90%;
    max-width: 600px;
    background: #FFF;
    margin: 3em auto 4em;
    cursor: auto;
    border-radius: 0.25em;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.cd-user-modal-container .cd-switcher:after {
    content: "";
    display: table;
    clear: both;
}

.cd-user-modal-container .cd-switcher li {
    width: 50%;
    float: left;
    text-align: center;
    cursor: pointer;
}

.cd-user-modal-container .cd-switcher li:first-child a {
    border-radius: .25em 0 0 0;
}

.cd-user-modal-container .cd-switcher li:last-child a {
    border-radius: 0 .25em 0 0;
}

.cd-user-modal-container .cd-switcher a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #d2d8d8;
    color: #809191;
}

.cd-user-modal-container .cd-switcher a.selected {
    background: #FFF;
    color: #505260;
}

@media only screen and (min-width: 600px) {
    .cd-user-modal-container {
        margin: 4em auto;
    }

    .cd-user-modal-container .cd-switcher a {
        height: 70px;
        line-height: 70px;
    }
}

.cd-form {
    padding: 1.4em;
}

.cd-form .fieldset {
    position: relative;
    margin: 1.4em 0;
}

.cd-form .fieldset:first-child {
    margin-top: 0;
}

.cd-form .fieldset:last-child {
    margin-bottom: 0;
}

.cd-form input {
    margin: 0;
    padding: 0;
    border-radius: 0.25em;
}

.cd-form input.full-width {
    width: 100%;
}

.cd-form input.has-padding {
    padding: 12px 20px 12px 50px;
}

.cd-form input.has-border {
    border: 1px solid #d2d8d8;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.cd-form input.has-border:focus {
    border-color: #343642;
    box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
    outline: none;
}

.cd-form input.has-error {
    border: 1px solid #d76666;
}

.cd-form input[type=password] {
    /* space left for the HIDE button */
    padding-right: 65px;
}

.cd-form input[type=submit] {
    padding: 16px 0;
    cursor: pointer;
    background: #2f889a;
    color: #FFF;
    font-weight: bold;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.no-touch .cd-form input[type=submit]:hover, .no-touch .cd-form input[type=submit]:focus {
    background: #3599ae;
    outline: none;
}

.cd-form .hide-password {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 15px;
    border-left: 1px solid #d2d8d8;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 14px;
    font-size: 0.875rem;
    color: #343642;
}

.cd-form .cd-error-message {
    display: inline-block;
    position: absolute;
    left: -5px;
    bottom: -35px;
    background: rgba(215, 102, 102, 0.9);
    padding: .8em;
    z-index: 2;
    color: #FFF;
    font-size: 13px;
    font-size: 0.8125rem;
    border-radius: 0.25em;
    /* prevent click and touch events */
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s, visibility 0.2s;
    -moz-transition: opacity 0.2s, visibility 0.2s;
    transition: opacity 0.2s, visibility 0.2s;
}

.cd-form .cd-error-message::after {
    /* triangle */
    content: '';
    position: absolute;
    left: 22px;
    bottom: 100%;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(215, 102, 102, 0.9);
}

.cd-form .cd-error-message.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s, visibility 0s;
    -moz-transition: opacity 0.2s, visibility 0s;
    transition: opacity 0.2s, visibility 0s;
}

@media only screen and (min-width: 600px) {
    .cd-form {
        padding: 2em;
    }

    .cd-form .fieldset {
        margin: 2em 0;
    }

    .cd-form .fieldset:first-child {
        margin-top: 0;
    }

    .cd-form .fieldset:last-child {
        margin-bottom: 0;
    }

    .cd-form input.has-padding {
        padding: 16px 20px 16px 50px;
    }

    .cd-form input[type=submit] {
        padding: 16px 0;
    }
}

.cd-form-message {
    padding: 1.4em 1.4em 0;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.4;
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .cd-form-message {
        padding: 2em 2em 0;
    }
}

.cd-form-bottom-message {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -40px;
    text-align: center;
    font-size: 14px;
    font-size: 0.875rem;
}

.cd-form-bottom-message a {
    color: #FFF;
    text-decoration: underline;
}

#cd-login, #cd-signup, #cd-logout, #cd-reset-password {
    display: none;
}

#cd-login.is-selected, #cd-logout.is-selected, #cd-signup.is-selected, #cd-reset-password.is-selected {
    display: block;
}

footer {
    width: 100%;
    padding: 20px;
    color: #ffffff;
    background-color: #35424a;
    text-align: center;
}

#footer {
    position: relative;
    height: 30px;
    margin-top: -30px;
    clear: both;
    background-color: #35424a;
}

/*---------------------------------------------------------------------------
/* The side navigation menu */
/*---------------------------------------------------------------------------*/

.closebtn {
    width: 0px;
    padding-left: 150px;
    top: 0;
    font-size: 36px;
}
.sidebar {
    height: 100%;
    width: 0;
    position: relative;
    align-content: left ;
    align-self: left;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    float: left;
}
.closenav {
    width:  0px;
}
#sidebarButton {
    background: none;
    border: none;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* Info box in the middle*/
#centerMessage {
    margin: 2% 5% 5% 5%;
    padding: 5% 5% 25% 5%;
    background: #D3D3D3;
}
.sendNewsIntroB {
    font-size: 20px;
    font-family: "PT Sans", sans-serif;
}
.sendNewsIntroS {
    margin: 1% 0 0 0;
    font-size: 15px;
    font-family: "PT Sans", sans-serif;
}

/* CreateTemplate stuff */
.topLine {
    overflow: auto;
    display: block;
    background: #3E5D89;
    width: 90%;
    margin: 0 5%;
    height: auto;
    color: white;
}

.topLine p{
    font-size: 25px;
    margin-left: 1%;
    display: inline;
}
.middleDiv {
    overflow: auto;
    background: #D3D3D3;
    display: block;
    margin: 0 5%;
    width: 90%;
    height: auto;
}
.nameForm {
    margin: 1%;
}
.buttonDistance {
    margin: 1%;
}
.topDistance {
    margin-top: 1%;
}
.checkboxDiv {
    overflow: auto;
    background: #D3D3D3;
    display: block;
    margin: 0 5%;
}
.labelCentered{
    text-align: center;
    display: block;
}
/*----------------------------------------------------------*/
.checkbox {
    font-size: 20px;
    font-family: "PT Sans", sans-serif;
    color: #818181;
    padding: 5px;

}

input[type=text], select
{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    color: #818181;
    text-align-last: center;
}

select option{
    color: #818181;
    text-align-last: center;
}

input[type=text]{
    text-align-last: left;
    color: black;
}

input[type=checkbox]:not(.coloredSearchwordsCheckbox){
    width:100%; !important;
    height:30px; !important;
    left:0; !important;
    z-index: 2; !important;
}

.form-group {
    font-size: 20px;
    font-family: "PT Sans", sans-serif;
    color: #818181;
    padding: 12px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* Main content */
/* Add an active class to the active dropdown button */
.active {
    background-color: #3599ae;
    color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

h1 {
    padding-left: 300px;
}

button:not(.dropdown-item) {
    padding: .6em 1em;
    border: 1px solid #3E5D89;
    border-radius: 50em;
    cursor: pointer;
    background: #3E5D89;
    width:125px;
    color: white;
}

button.openSidebarBtn{
    width:125px;
}

button.btn.btn-secondary.dropdown-toggle, .show > .btn-secondary.dropdown-toggle:focus{
    position: absolute;
    height: 30px;
    width: 50px;
    line-height: 40px;
    vertical-align: top;
    border-radius: 0;
    background: transparent !important;
    border: 0;
    box-shadow: 0 0 0 !important;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    border-right-color: transparent !important;
    border-left-color: transparent !important;
    bottom: 11px;
}

.btn-secondary.dropdown-toggle:after {
    display: none;
    background: transparent;
}

.dropdown-menu.dropdown-menu-right.show{
    transform: none !important;
    top: -11px !important;
}

@media only screen and (max-width: 650px) {
    .dropdown-menu.dropdown-menu-right.show {
        left: -120px !important;
    }
}

div.button.btn.btn-secondary.dropdown-toggle{
    right: 0;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider, .blueslider{
    position: absolute;
    cursor: pointer;
    width: 46px;
    height: 25px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border: 1px darkgrey;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before, .blueslider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 6px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: green;
}

input:checked + .blueslider {
    background-color: #2bb6e1;
}

input:focus + .slider, input:focus + .blueslider {
    box-shadow: 0 0 1px slategrey;
}

input:checked + .slider:before, input:checked + .blueslider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round, .blueslider.round {
    border-radius: 24px;
}

.slider.round:before, .blueslider.round:before {
    border-radius: 50%;
}
.articleheading{
    font-family: "PT Sans", sans-serif;
    font-size: 25px;
    margin-left: 5px;
}

/* Pressclipping site article boxes */
.jumbotron-fluid{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
    padding-bottom: 30px !important;
    padding-top: 30px !important;
}

/* Loading Bar Style */
.nanobar {
    width: 100%;
    height: 2px;
    z-index: 9999;
    top:0;
}
.bar {
    width: 0;
    height: 100%;
    transition: height .1s;
    background: #2ECCFA;
}
/*------------------------------------------------------*/
/*---Floating Button ---*/

ul.searchwords {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
}

ul.searchwords li {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    margin-bottom: 7px;
    background-color: #4c4c4c;
    padding-top: 8px;
    padding-right: 40px;
    padding-left: 12px;
    padding-bottom: 8px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: inline-block;
    position: relative;
    margin-right: 5px;
}

ul.searchwords li:hover {
    background-color: #bcbcbc;
    color: black;
}

.deleteSearchword {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    padding: 8px 10px;
    transform: translate(0%, -50%);
}

.deleteSearchword:hover {background: #e4e4e4;}

ul.searchwordsChange {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
}

ul.searchwordsChange li {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    margin-bottom: 7px;
    background-color: #4c4c4c;
    padding-top: 8px;
    padding-right: 40px;
    padding-left: 12px;
    padding-bottom: 8px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: inline-block;
    position: relative;
    margin-right: 5px;
}

ul.searchwordsChange li:hover {
    background-color: #bcbcbc;
    color: black;
}

.deleteSearchwordChange {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    padding: 8px 10px;
    transform: translate(0%, -50%);
}

.deleteSearchwordChange:hover {background: #e4e4e4;}

.toast-top-right {
    margin-top: 80px;
}

#toast-container.toast-top-full-width > div{
    width: 70% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    left: 15% !important;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}
/*----------------------------*/
/* --- Firma hinzufügen ---*/

.topLine_Firma{
    overflow: auto;
    display: block;
    background: #3E5D89;
    width: 100%;
    height: auto;
    color: white;
}
.topLine_Firma p{
    font-size: 25px;
    margin-left: 1%;
    display: inline;
}
.middleDiv_Firma {
    overflow: auto;
    background: #D3D3D3;
    display: block;
    width: 100%;
    height: auto;
}

.trash{
    padding-left: 40%;
}
/*---------------*/
/* --- Logging --- */

.logs{


}

/*.grad1 {
    height: 200px;
    background: black;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
}*/

.grad1::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, #000 100%);
    margin-top: -180px;
    height: 180px;
    width: 100%;
    content: '';
}